source "sound/soc/codecs/hisi/da_separate/da_separate_v3/Kconfig"

config SND_SOC_CODEC_DA_SEPARATE_V5
	tristate "HI Soc Smartstar Codec da_separate_v5 support"

config SND_SOC_CODEC_DA_SEPARATE_V6B
	tristate "HI Soc Smartstar Codec da_separate_v6b support"

config SND_SOC_CODEC_DA_SEPARATE_V6L
	tristate "HI Soc Smartstar Codec da_separate_v6l support"

config SND_SOC_DA_SEPARATE_CODEC
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V3=y || SND_SOC_CODEC_DA_SEPARATE_V5=y || SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V3=m || SND_SOC_CODEC_DA_SEPARATE_V5=m || SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m

config SND_SOC_DA_SEPARATE_I2S
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V3=y || SND_SOC_CODEC_DA_SEPARATE_V5=y || SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V3=m || SND_SOC_CODEC_DA_SEPARATE_V5=m || SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m

config SND_SOC_DA_SEPARATE_UTILITY
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V3=y || SND_SOC_CODEC_DA_SEPARATE_V5=y || SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V3=m || SND_SOC_CODEC_DA_SEPARATE_V5=m || SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m

config SND_SOC_DA_SEPARATE_STORE
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V3=y || SND_SOC_CODEC_DA_SEPARATE_V5=y || SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V3=m || SND_SOC_CODEC_DA_SEPARATE_V5=m || SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m

config SND_SOC_DA_SEPARATE_CORE_PATH
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V3=y || SND_SOC_CODEC_DA_SEPARATE_V5=y || SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V3=m || SND_SOC_CODEC_DA_SEPARATE_V5=m || SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m

config SND_SOC_DA_SEPARATE_AUDIO_PATH
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V3=y || SND_SOC_CODEC_DA_SEPARATE_V5=y || SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V3=m || SND_SOC_CODEC_DA_SEPARATE_V5=m || SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m

config SND_SOC_DA_SEPARATE_ULTR_PATH
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V3=y || SND_SOC_CODEC_DA_SEPARATE_V5=y || SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V3=m || SND_SOC_CODEC_DA_SEPARATE_V5=m || SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m

config SND_SOC_DA_SEPARATE_VOICE_PATH
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V3=y || SND_SOC_CODEC_DA_SEPARATE_V5=y || SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V3=m || SND_SOC_CODEC_DA_SEPARATE_V5=m || SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m

config SND_SOC_DA_SEPARATE_SMPA_PATH
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V3=y || SND_SOC_CODEC_DA_SEPARATE_V5=y || SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V3=m || SND_SOC_CODEC_DA_SEPARATE_V5=m || SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m

config SND_SOC_DA_SEPARATE_THIRD_CODEC_PATH
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V3=y || SND_SOC_CODEC_DA_SEPARATE_V5=y || SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V3=m || SND_SOC_CODEC_DA_SEPARATE_V5=m || SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m

config SND_SOC_DA_SEPARATE_BTFM_PATH
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V3=y || SND_SOC_CODEC_DA_SEPARATE_V5=y || SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V3=m || SND_SOC_CODEC_DA_SEPARATE_V5=m || SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m

config SND_SOC_DA_SEPARATE_MAD_PATH
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V5=y || SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V5=m || SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m

config SND_SOC_DA_SEPARATE_AU_PA_PATH
	tristate
	default y if SND_SOC_CODEC_DA_SEPARATE_V6B=y || SND_SOC_CODEC_DA_SEPARATE_V6L=y
	default m if SND_SOC_CODEC_DA_SEPARATE_V6B=m || SND_SOC_CODEC_DA_SEPARATE_V6L=m
