menu "TEE OS"

config TZDRIVER
	tristate "Secure Execution Communicator driver"
	default n
	help
	  Provides a communication interface between userspace and
	  TrustZone Operating Environment.

config HISI_SECBOOT_IMG
	bool "tzdriver split secboot img into modem and ap"
	default n
	depends on KERNEL_CLIENT
	help
	  Macro defined for splitting modem and ap img

config HISI_SECBOOT_IMG_V2
	bool "tzdriver split modem and ap for v2"
	default n
	depends on KERNEL_CLIENT
	help
	  Macro defined for splitting modem and ap img v2

config ASAN_DEBUG
	bool "hisi ASAN debug version"
	default n
	help
	  Macro defined for ASAN debug version

source  "drivers/hisi/tzdriver/auth/Kconfig"
source  "drivers/hisi/tzdriver/core/Kconfig"
source  "drivers/hisi/tzdriver/ion/Kconfig"
source  "drivers/hisi/tzdriver/tlogger/Kconfig"
source  "drivers/hisi/tzdriver/tui/Kconfig"
source  "drivers/hisi/tzdriver/agent_rpmb/Kconfig"
endmenu

