config TEE_TUI
	bool "Trusted User Interface Driver"
	default n
	depends on TZDRIVER
	help
	  Trusted user interface diver

config TEE_TUI_FP
	bool "Trusted User Interface Driver For FP"
	default n
	depends on TZDRIVER
	help
	  Trusted user interface diver