config HISILICON_PLATFORM_KERNELDUMP
	bool "Support KERNELDUMP"
	default n
	help
	  This driver supports XXX KERNELDUMP,
	  including kerneldump driver.

config HISI_KERNELDUMP
	bool "Support KERNELDUMP"
	default n
	help
	  This driver supports KERNELDUMP,
	  including kerneldump driver.

config KERNELDUMP_KO_DBG
	bool "Support ko mem dump"
	depends on HISI_KERNELDUMP
	default n
	help
	  This driver supports XXX ko dump,
	  including ko dump driver.
