config RDR_MEM
	bool "Register Rdr Mem"
	default n
	depends on TZDRIVER
	help
	  Register Rdr Mem

config TEELOG
	bool "Secure Execution Log Driver"
	default n
	depends on TZDRIVER
	help
	  TEEOS log

config TEE_LOG_ACHIVE_PATH
	string "Tee log achive path"
	default "/data/log/tee/last_teemsg"
	depends on TEELOG
	help
	  Last tee msg log path

config TEE_KTRACE
	bool "TEEOS Kernel Event Log Driver"
	default n
	depends on TEELOG
	help
	  TEEOS event trace

config TEE_LOG_EXCEPTION
	bool "Log Exception Info to Imonitor"
	default n
	depends on TEELOG
	help
	  Log exception info to imonitor